<!DOCTYPE html>
<html lang="da" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle attraktioner</title>
  <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>

<h1>Alle turistattraktioner</h1>
<table>
  <tr>

    <th>Navn</th>
    <th>Beskrivelse</th>
    <th>By</th>
    <th>Tags</th>

  </tr>

  <tr th:each="attraction : ${attractions}">

    <td th:text="${attraction.name}"></td>

    <td th:text="${attraction.description}"></td>

    <td th:text="${attraction.city}"></td>



    <td>

      <a th:href="@{/attractions/{name}/tags(name=${attraction.name})}">
      Tags
      </a>

    </td>

  <td>
    <a th:href="@{/attractions/{name}/edit(name=${attraction.name})}">
      Opdater
    </a>

    </td>
    <td>
      <a th:href="@{/attractions/{name}/delete(name=${attraction.name})}">
        Slet
      </a>
    </td>

</tr>

  </table>

<br>
<a  th:href="@{/attractions/add}">
  Tilføj attraktion

</a>

</body>

</html>



