
<!DOCTYPE html>

<html lang="da">

<head>

  <meta charset="UTF-8">

  <title>Velkommen til Brønshøj</title>

  <link th:href="@{/main.css}" rel="stylesheet">

</head>
<body>

<h1> Velkommen til Brønshøj</h1>

<p> Oplev Brønshøj og gå på opdagelse i bydelens hyggelige steder, historiske seværdigheder og smukke naturområder.

</p>

<nav>

  <a href="/static">Forside</a>

  <a href="/attractions">Alle attraktioner</a>

  <a href="/attractions/Utterslev%20Mose">Utterslev Mose</a>

</nav>

<h2>Om turistguiden</h2>

<p> Vores turistguide er til dig, der vil opleve bydelen og se, hvad den byder på.
  Her kan du blandt andet finde inspiration til spædende attraktioner,
  historiske steder og naturoplevelser i området.
</p>
<h2>Oplev Brønshøj</h2>

<ul>
  <li>Brønshøj Torv</li>
  <li>Utterlev Mose</li>
  <li>Brønshøj Bibliotek</li>
  <li>Brønshøj Kirke</li>
  <li>Bellahøj Friluftsscene</li>

</ul>

<h2>Billede af Brønshøj</h2>

<img src = "/images/bronshoj.jpg"
     alt = "Billede af brønshøj"
     width="500">

<h2>Nyttige links</h2>
<p>
  <a href="https://rejseplanen.dk/">
    Rejseplanen
  </a>
</p>

<footer>
  <h2>Kontakt</h2>

  <!-- Kontaktinformation -->

  <p>Email: TouristguideBroenshoej@gmail.com</p>

  <p>Telefon: 1122334455</p>

</footer>

</body>

</html>